<br/>
<div class="container">

<ul class="list-group">
            <li class="list-group-item  active">Profile</li>
            <li class="list-group-item">{{model.name}}</li>
            <li class="list-group-item">{{model.email}}</li>
            <li class="list-group-item">{{ model.age}}</li>
            <li class="list-group-item">{{ model.basic}}</li>
            <li class="list-group-item">{{model.mobile}}</li>
            <li class="list-group-item "><a class="btn btn-medium btn-primary">Edit this User</a></li>
          </ul>

</div>
